<h2>About Us</h2>

<p>Jared Holliday</p>
<ul>
    <li>Role: Repo Manager</li>
    <li>Email: jrholliday@dmacc.edu</li>
</ul>

<p>Ben Frederickson</p>
<ul>
    <li>Role: Work Flow Manager</li>
    <li>Email: bfrederickson@dmacc.edu</li>
</ul>

<p>Ian Tibe</p>
<ul>
    <li>Role: Unity Manager / Tester</li>
    <li>Email: imtibe@dmacc.edu</li>
</ul>